<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/media/CSS/global.css" rel="stylesheet" type="text/css" />
<!--[if lte IE 8]><![endif]-->
<!-- <script language="javascript" type="text/javascript" src="/media/JS/jquery-1.7.1.min.js"></script> -->
<script language="javascript" type="text/javascript" src="/media/JS/js_libs.js"></script>
<script src="/media/JS/swfobject.js"></script>

<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="/media/bootstrap-3.3.0-dist/css/bootstrap.min.css"><!--  -->

<!-- 可选的Bootstrap主题文件（一般不用引入） -->
<link rel="stylesheet" href="/media/bootstrap-3.3.0-dist/css/bootstrap-theme.min.css"><!--  -->

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<!-- <script src="/media/JS/jquery-1.11.1.min.js"></script> -->
<!-- <script src="/media/JS/jquery-1.11.2.js"></script> -->
<script type="text/javascript" src="/media/DataTables-1.10.6/media/js/jquery.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="/media/bootstrap-3.3.0-dist/js/bootstrap.min.js"></script><!--  -->

<!-- 引用http://akibjorklund.com/code/multiselectable -->
<!--
<script type="text/javascript" src="/media/JS/multiselectable.js"></script>
<link href="/media/CSS/multiselectable.css" rel="stylesheet" type="text/css" />
 -->
 
<!-- 引用http://loudev.com/ -->
<link rel="stylesheet" href="/media/CSS/multi-select.css">
<script type="text/javascript" src="/media/JS/jquery.multi-select.js"></script>
<!-- <script type="text/javascript" src="/media/JS/jquery.quicksearch.js"></script> -->
<!-- 谷歌图表库 -->
<script type="text/javascript" src="/media/google_chart/jsapi.js"></script>

<!-- 引用http://datatables.net/extensions/fixedheader 表格处理 -->
<link rel="stylesheet" href="/media/DataTables-1.10.6/media/css/jquery.dataTables.css">
<link rel="stylesheet" href="/media/FixedHeader-2.1.2/css/dataTables.fixedHeader.css">
<script type="text/javascript" src="/media/DataTables-1.10.6/media/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/media/FixedHeader-2.1.2/js/dataTables.fixedHeader.js"></script>

<title>参数表后台</title>
</head>

<body>
<div id="container">
	<!-- header -->
	{%include 'header.html'%}
	
 	<div id="content">
	<!-- left -->
	{%include 'left.html'%}
	
	<!-- right -->
	{%include 'right.html'%}
	</div>
	
	<!-- bottom -->
	{%include 'bottom.html'%}
  
</div>

</body>
</html>
