<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>分赃后台</title>
<link href="/media/CSS/global.css" rel="stylesheet" type="text/css" />
</head>
<!-- [if lte IE 8]><![endif]
<script language="javascript" type="text/javascript" src="/media/JS/flot/excanvas.min.js"></script>
<script language="javascript" type="text/javascript" src="/media/JS/flot/jquery.js"></script>
<script language="javascript" type="text/javascript" src="/media/JS/flot/jquery.flot.js"></script>
<script language="javascript" type="text/javascript" src="/media/JS/page_controller.js"></script>
<script language="javascript" type="text/javascript" src="/media/JS/taskedit_dialog.js"></script>
 -->
<script language="javascript" type="text/javascript" src="/media/JS/My97DatePicker/WdatePicker.js"></script>
<script language="javascript" type="text/javascript" src="/media/JS/jslib.js"></script>
<style type="text/css">
#banner1 {
	width:941px;
	height:58px;
	float:left;
	clear:both;
	margin-left:10px;
}

#logo1 {
	width:200px;
	height:58px;
	float:none;
	margin-top:auto;
	margin-left:470px;
	overflow:hidden;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 32px;
	font-style: normal;
	text-decoration: none;
	line-height: 58px;
	text-align: center;
	color: #000;
	background-color: #EEE;
}

</style>

<body>
<div id="container">
   <!-- header -->
   {%include 'bonus/header.html'%}
  
   <!-- left -->
   {%include 'bonus/left.html'%}
  	
   <!-- right -->
   {%include 'bonus/right.html'%}
  
   <!-- working -->
   <div id='working'></div>
    
   <!-- bottom -->
   {%include 'bonus/bottom.html'%}
  
</div>

</body>
</html>
