<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/media/CSS/global.css" rel="stylesheet" type="text/css" />
<!-- <link href="/static/admin/css/base.css" rel="stylesheet" type="text/css" />
<link href="/static/admin/css/forms.css" rel="stylesheet" type="text/css" /> -->
<!--[if lte IE 8]><![endif]-->
<script language="javascript" type="text/javascript" src="/media/JS/jquery-1.7.1.min.js"></script>
<script language="javascript" type="text/javascript" src="/media/JS/js_libs.js"></script>
<script src="/media/JS/swfobject.js"></script>
<title>{{ title }}</title>
</head>

<body>
<div id="container">
	<!-- header -->
	{%include 'server_rent/header.html'%}
	
 	<div id="content">
	<!-- left -->
	{%include 'server_rent/left.html'%}
	
	<!-- right -->
	{%include 'server_rent/right.html'%}
	</div>
	
	<!-- bottom -->
	{%include 'server_rent/bottom.html'%}
  
</div>

</body>
</html>
