<div id="rightsider">
	<!-- 项目信息提示 -->
	<div class="data_title">
		<p>
			<b>{{ program.name }}&nbsp;&nbsp;{{ locale.name }}</b>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="/index.php">选择其他项目</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<span style="color:#390;"><b>你好，[&nbsp;{{ user.last_name }}{{ user.first_name }}&nbsp;]</b></span>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="/rent/alter_password/">修改密码</a>&nbsp;&nbsp;
			<a href="/quity/">注销</a>&nbsp;&nbsp;
		</p>
	</div>

	<div class="data_title">
		{% if sheet %}
			<p>
				<span style="float:left;">&nbsp;&nbsp;<b>{{ sheetname }})</b></span>
			</p>
		{% else %}
			<p>
				<span style="float:left;">&nbsp;&nbsp;<b>请在左边栏选择操作</b></span>
			</p>
		{% endif %}
	</div>
	
	{% if can_change %}
		<div class="data_title">
			<div style="width:400px;float:left;">
				<a href="/rent/{{ action }}/?do_what=add" style="float:left;">
					<input type="button" class="submit_btn" value="添加{{ sheetname }}"/>
				</a>
			</div>
			{% if do_what == 'get' %}
			<p>
				<form method="GET" action="/rent/{{ action }}/?do_what=get" style="float:right;">
					<span>&nbsp;&nbsp;</span>
					<a href="/rent/{{ action }}/?do_what=get&page=1" title="第一页">1</a>
					&nbsp;
					{% if datas.has_previous %}
						<a href="/rent/{{ action }}/?do_what=get&page={{ datas.previous_page_number }}" title="上一页"><</a>
					{% else %}
						<span><</span>
					{% endif %}
					&nbsp;
					{% if datas.has_next %}
						<a href="/rent/{{ action }}/?do_what=get&page={{ datas.next_page_number }}" title="下一页">></a>
					{% else %}
						<span>></span>
					{% endif %}
					&nbsp;
					<a href="/rent/{{ action }}/?do_what=get&page={{ paginator.num_pages }}" title="最后一页">end</a>
					&nbsp;
					<span>&nbsp;({{ datas.number }}/{{ paginator.num_pages }})</span>
					&nbsp;			
					<span>Go</span>
					<input type="text" name="page" size="1"/>
					<span>&nbsp;</span>
					<input class="submit_btn" type="submit" value="确定"/>
					<br/>
				</form>
			</p>
			{% endif %}
		</div>
	{% endif %}
	
	<!-- 导入需要的HTML文件 -->
    {% if html_path %}
   		{% include html_path %}
   	{% else %}
   		{% include "right_default.html" %}
    {% endif %}
	
</div>